@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Color Variables */
:root {
    --text-color: #666;
    --border-color: #ddd;
    --focus-border-color: #4CAF50;
    --button-bg-color: #4CAF50;
    --button-hover-bg-color: #45a049;
    --error-color: red;
}

.container {
    padding: 10px;
    border-radius: 8px;
}
  
.title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px; 
    font-family: "Poppins", sans-serif;
}
  
.description {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.showFormButton{
    padding: 10px;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
    transition: background-color 0.3s;

}
  

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
}

.headerForm{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
} 

.headerForm h1{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.closeFormButton {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 20px;
}
  
.inputGroup {
    margin-bottom: 15px;
}
  
.nameContainer {
    display: flex;
    justify-content: space-between;
}
  
.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
  
.inputGroup input, .inputGroup select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: border-color 0.3s;
}
  
.inputGroup input:focus, .inputGroup select:focus {
    border-color: var(--focus-border-color);
    outline: none;
}
  
.submitButton {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
  
.submitButton:hover {
    background-color: var(--button-hover-bg-color);
}

.error {
    color: var(--error-color);
}

@media (max-width: 500px) {
    .nameContainer {
       gap: 10px;
    }
}
