.container {
  width: 100%;
  max-width: 1200px;
  margin: 5vh auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}


.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  gap: 140px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.05); 
}


.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  gap: 140px;
  z-index: 10;
  background-color: white;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.05);
}

.btn_next {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #f3f4f6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color:  #2d3748;
  transition: background-color 0.3s ease;
}

.btn_back {
  display: flex;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
}

.btn_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  .title {
    font-size: 24px;
  }

  .btnBox {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}


/* RTL Support */
.container[dir="rtl"] {
  text-align: right;
}

.container[dir="rtl"] .cartItems {
  direction: rtl;
}

.container[dir="rtl"] .icon {
  margin-right: 0;
  margin-left: 8px;
}

.container[dir="rtl"] .btn_back svg {
  margin-right: 0;
  margin-left: 8px;
}