.pageContainer {
  width: 100%;
  max-width: 1200px;
  margin: 5vh auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.invoiceContainer {
  background-color: white;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.invoiceHeader {
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.invoiceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 30px;
}

.qty, .item, .amount {
  flex: 1;
  text-align: center;
}

.quantityControl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantityButton {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.quantityValue {
  font-size: 16px;
  font-weight: 600;
}

.deleteButton {
  background-color: #2d3748;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease;
}

.deleteButton:hover {
  background-color: #1e242e;
}

.totalSection {
  border-top: 2px solid var(--secondary-color);
  padding-top: 20px;
  margin-top: 20px;
}

.totalLabel {
  font-size: 18px;
  font-weight: 700;
  color: #2d3748;
}

.totalAmount {
  font-size: 18px;
  font-weight: 700;
  color: #2d3748;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  gap: 140px;
  z-index: 10;
  background-color: white;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.05);
}

.btn_next {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #f3f4f6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color:  #2d3748;
  transition: background-color 0.3s ease;
}

.btn_back {
  display: flex;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
}

.btn_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.emptyCartText{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Responsive styles */
@media (max-width: 768px) {
  .pageContainer {
    padding: 14px;
  }

  .title {
    font-size: 24px;
  }

  .btnBox {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }

  .quantityButton {
    padding: 3px;
  }

  .deleteButton {
    padding: 8px 8px;
  }
}













/* RTL Support */
.pageContainer[dir="rtl"] {
  text-align: right;
}

.pageContainer[dir="rtl"] .invoiceRow {
  direction: rtl;
}

.pageContainer[dir="rtl"] .icon {
  margin-right: 0;
  margin-left: 8px;
}

.pageContainer[dir="rtl"] .btn_back svg {
  margin-right: 0;
  margin-left: 8px;
}