.cartSection {
    position: relative;
    flex: 1;
    background-color: #f3f4f6;
    transition: transform 0.3s ease-in-out;
    padding: 10px 20px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Title {
    font-family: monospace;
}

.cartItems {
    overflow-y: auto; 
    flex-grow: 1; 
    max-height: calc(100vh - 200px); 
    margin: 40px 0;
}
/* Custom scrollbar for WebKit browsers */
.cartItems::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.cartItems::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 5px; /* Rounded corners for the track */
}

.cartItems::-webkit-scrollbar-thumb {
    background: gray; /* Color of the scroll thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.cartItems::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}


.cartSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: white; 
}

.cartSummary p{
    font-size: 1.2rem;
    font-weight: bold;
}


.DivButton {
    position: sticky;
    bottom: 0;

    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    gap: 10px;
}

.paymentButton {
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.CleanButton {
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}


@media (min-width: 769px) {
    .cartSection {
        position: fixed;
        top: 0;
        right: -400px;
        width: 400px;
        height: 100vh;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    }

    .cartOpen {
        transform: translateX(-400px);
    }
}

@media (max-width: 768px) {
    .cartSection {
        margin-top: 20px;
        height: 100%;
        min-height: 100vh;
    }
    .paymentButton, .CleanButton {
        padding: 10px;
    }
}