@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root {
  --main_color:  #0C5800;
  /* #FF6F61  */
}

.wrapper {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

.logo {
  width: 200px; 
  height: auto;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  margin-top: auto; 
  margin-bottom: auto;
}
  
.title {
  font-size: 1.9rem;
  color: #2c3e50;
  text-align: center;
  transition: font-size 0.3s ease;
}

.sousTitle {
  max-width: 50vw; 
  width: 100%; 
  text-align: center; 
  color: #4b5563;
  margin: 0 auto 1.5rem; 
  padding: 0 20px; 
  box-sizing: border-box; 
}
  
.languageBox {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 800px;
}
  
.box {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background-color: #ecf0f1;
}
  
.icon {
  font-size: 3rem;
  margin-bottom: 15px;
  color: var(--main_color);
}
  
.selected {
  border-color: #2d3748;
  background-color: #f3f4f6;
}
  
.langText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #34495e;
}


.btn_next {
  margin-top: 70px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.btn_next_Active{
  background-color: #2d3748;
  cursor: pointer;
}

.btn_next_Disable{
  background-color: #f3f4f6;
  color: #2d3748;
}


  
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .sousTitle {
    max-width: 80vw; 
  }

  .languageBox {
    gap: 20px;
  }

  .box {
    width: 150px;
    height: 150px;
  }

  .icon {
    font-size: 2.5rem;
  }

  .langText {
    font-size: 1rem;
  }
}
  
@media (max-width: 480px) {
  .btn_next {
    margin-top: 35px;
  }
  .title {
    font-size: 1.5rem;
  }

  .sousTitle {
    max-width: 90vw;
  }

  .box {
    width: 130px;
    height: 130px;
  }

  .icon {
    font-size: 2rem;
  }

  .langText {
    font-size: 0.9rem;
  }
}